@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

body {
 background-image: url("");
  min-width: 650px;
}

h1 {
  color: pink;
  font-size: 50px;
  font-family: "Press Start 2P";
  text-align: center;
}

h2 {
  color: red;
  font-family: "Press Start 2P";
}
  svg {

    background: url("http://i.dailymail.co.uk/i/pix/2012/06/25/article-0-13C76BA5000005DC-387_964x639.jpg");
  background-size: 100%;
  background-position: 0px -20px;
  display: block;
  margin: auto;
}

#saiyan{
  color:red;
}
