@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

body {
 background-image: url("");
  min-width: 650px;
}

h1 {
  color: pink;
  font-size: 50px;
  font-family: "Press Start 2P";
  text-align: center;
}

h2 {
  color: red;
  font-family: "Press Start 2P";
}
  svg {

    background: url("http://vignette2.wikia.nocookie.net/marios-five-nights/images/1/17/Static.gif/revision/latest?cb=20150602181650");
  background-size: 100%;
  background-position: 0px -20px;
  display: block;
  margin: auto;
}

#saiyan{
  color:red;
}
